/* EXPLORE CSS */






body {
    margin: 0;
    padding: 0;
    background-image: url('purple.jpg');
    background-repeat: no-repeat;
    background-size: 1900px;
     
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.445);
}
div.blacklayer{
    background-color: white;
}
.wrapper {
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000e8; 
    
}
.txt {
    color: rgba(102, 0, 128, 0.801);
    background:#000000;
    font-size:200px;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
    transition: width 2s;
    height: 200px;
    
}
.txt::before {
    content: 'Explore';
    position: absolute;
    mix-blend-mode: screen;
    filter: blur(2.9px);
}
.neon-wrapper {
    display:inline-flex;
    filter: brightness(200%);
    overflow: hidden;
    
}
.gradient{

/*background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: -webkit-linear-gradient(90deg, #614385 10%, #516395 90%); Chrome 10+, Saf5.1+ */
    background: linear-gradient(to left, #c94b4b, #4b134f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    mix-blend-mode: color;
}
.dodge {
    background: radial-gradient(circle,white,rgb(0, 0, 0) 100%) center / 25% 25%;
    position: absolute;
    top:-100%;
    left:-100%;
    right:0;
    bottom:0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 4.8s linear infinite;
}
@keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
}
/* GET STARTED BUTTON */
div.gt_started_btn button{
    transform: translate(-500px,200px);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transform: translate(700px, -400px);
    width: 200px;
    height: 40px;
    transform: translate(750px, 650px);
    border: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 17px;
    background: linear-gradient(90deg, rgba(243, 72, 104,1) 20.428571428571427%,rgba(243, 72, 104,1) 49.80357142857142%,rgba(158, 0, 236,1) 62.30357142857143%,rgba(158, 0, 236,1) 80.42857142857142%);;

    
}

div.gt_started_btn{
    background-color: black;
}

/* ABOUT US */
.About-Us{
    background: linear-gradient(to left, #c94b4b, #4b134f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}

div.scroll{
    background-color:rgba(0, 0, 0, 0.876);
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url('explore.jpg'); */
    background-size: 1000px;
    background-repeat: no-repeat;
    background-color:rgba(0, 0, 0, 0.876);
}

div.scroll h1{
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;


}


div.scroll p{
    font-size: 20px;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

div.Eplaces{
    background-color: #000000e8; 
    height: 200px;
    width: 710px;
    background: linear-gradient(to left, #c94b4b, #4b134f)
}
div.epl{
    background: black;
    width: 700;
    height: 190;
    transform: translate(5px, -195px);
}

div.epl p1{
    color: white;
    transform: translate(200px, -200px);
    width: 500;
}

/* div.EStreams{
    background: linear-gradient(to left, #c94b4b, #4b134f);
    transform: translate(920px, 10px);
    width: 2000000000;
} */
div.EStreams{
    background: black;
    height: 195px;
    width: 727px;
    transform: translate(927px, -215px);
}


div.est{
    transform: translate(923px, -16px);
    width: 735px;
    height: 203px;
    background: linear-gradient(to left, #c94b4b, #4b134f);
}