<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="static/styles.css">

    <!-- Reference to the Bing Maps SDK -->
    <script type='text/javascript'
            src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
    
    <script type='text/javascript'>
    function GetMap()
    {
        var someJavaScriptVar = '{{ geocode }}';
        var latofplace = '{{hospitalFive_longitude}}';
        var longofplace='{{hospitalFive_latitude}}'
        console.log(latofplace);
        console.log(longofplace);
        // console.log(someJavaScriptVar);
        var spt = someJavaScriptVar.split(',');
        var lat = parseFloat(spt[0])
        var lng = parseFloat(spt[1]) 
        var map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'ApoSfk2tKg5S1J5L3DFAMjfwreSS62XGMtLE9NsAmGcNWQJ21lAeRJs3w1LML19X',
            center: new Microsoft.Maps.Location(lat,lng),
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            zoom: 500
        });
        // var map2 = new.Microsoft.Maps.Map('#myMap1', {
        //     credentials: 'ApoSfk2tKg5S1J5L3DFAMjfwreSS62XGMtLE9NsAmGcNWQJ21lAeRJs3w1LML19X',
        //     center: new Microsoft.Maps.Location(lat,lng),
        //     mapTypeId: Microsoft.Maps.MapTypeId.aerial,
        //     zoom: 500

        // })

        //Add your post map load code here.
    }
    </script>
</head>
<body>
    <div class="navbar" style="background-color: #333;">
        <p style="font-family:monospace; color:white;">Powered by...</p>
        <a href="/"><img src="/static/images/icon.png" alt="icon" width></a>
        <a href="" class='About_Us' style="color: white;"><button style="font-family: monospace;font-size: 20px; background-color:#333; border:none;color: white; transform: translate(7px, -39px);">About Us</button></a>
        <a href="" class='Get_Started' style="color: white;"><button style="font-family: monospace;font-size: 20px; background-color:#333; border:none;color: white; transform: translate(14px, -39px);">Get Started</button></a>
        <a href=""><img src="/static/images/eplaces.png" alt="eplaces logo" style='width: 300px; transform: translate(720px, -9px);'></a>
    </div>
    <!-- <h1>Your Location...</h1> -->
    <div class='map'>
        <h1>Your Location...</h1>
        <div id="myMap" style="position:relative;width:600px;height:400px;" class='mymap'></div>
        <!-- <label>{{geocode}}</label> -->
        <label for="Type" class='lbl'>Type</label>
        <form action="{{url_for('maps')}}" method="post">
            <input type="text" name="Type" id="Type" class='type' style='border:none;'>
            <input type="submit" value="Search" class='sbtbtn'>
            <p style="color:white; font-family:monospace;transform: translate(332px, -31px);">NOTE: Type in the type of place you want to search for. For example: Restarants, Hospitals, Pharmacies... Make sure you type in the correct spelling</p>
            
        </form>

    </div>

   
</body>
</html>

