<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="static/data.css">
</head>
<body>
    <h1 style='color:white; font-family: monospace;'>Enter Your location...</h1>
    <form action="{{ url_for('index') }}" method="post" class='data'>
        <label for="Country">Country</label>
        <input type="text" name="Country" id="Country" class='Country'>

        <label for="State">State</label>
        <input type="text" name="State" id="State" class='State'>

        <label for="Locality">Locality</label>
        <input type="text" name="Locality" id="Locality" class='Locality'>
        <h2 style='color:white; font-family: monospace;'>NOTE: The Locality Field should be a place (restaurant, hospital, etc...) somewhere near your house</h2>

        


        
        <input type="submit" value="Search">
    </form>
</body>
</html>