<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <!-- Reference to the Bing Maps SDK -->
    <script type='text/javascript'src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&GetMap2'async defer></script>
    <link rel="stylesheet" href="static/location.css">
    <div class="navbar" style="background-color: #333;">
        <p style="font-family:monospace; color:white;">Powered by...</p>
        <a href="/"><img src="/static/images/icon.png" alt="icon" width></a>
        <a href="" class='About_Us' style="color: white;"><button style="font-family: monospace;font-size: 20px; background-color:#333; border:none;color: white; transform: translate(7px, -39px);">About Us</button></a>
        <a href="" class='Get_Started' style="color: white;"><button style="font-family: monospace;font-size: 20px; background-color:#333; border:none;color: white; transform: translate(14px, -39px);">Get Started</button></a>
        <a href="/data"><img src="/static/images/eplaces.png" alt="eplaces logo" style='width: 300px; transform: translate(720px, -9px);'></a>
    </div>

    <script type='text/javascript'>
    function GetMap()
    {
        var someJavaScriptVar = '{{ geocode }}';
        var latofplace = '{{hospitalFive_longitude}}';
        var longofplace='{{hospitalFive_latitude}}'
        var spt = someJavaScriptVar.split(',');
        var lat = parseFloat(spt[0])
        var lng = parseFloat(spt[1]) 
        var map = new Microsoft.Maps.Map('#myMap2', {
            credentials: 'API_KEY',
            center: new Microsoft.Maps.Location(lat,lng),
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            zoom: 500
        });


        var latofplace1 = '{{hospitalFour_latitude}}';
        var longofplace1='{{hospitalFour_longitude}}';
        var spt1 = someJavaScriptVar.split(',');
        var lat1 = parseFloat(spt[0])
        var lng1 = parseFloat(spt[1]) 
        var map1 = new Microsoft.Maps.Map('#myMap', {
            credentials: 'API_KEY',
            center: new Microsoft.Maps.Location(latofplace1,longofplace1),
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            zoom: 500

        });

        var latofplace2 = '{{hospitalThree_latitude}}';
        var longofplace2='{{hospitalThree_longitude}}';
        var spt2 = someJavaScriptVar.split(',');
        var lat2 = parseFloat(spt[0])
        var lng2 = parseFloat(spt[1]) 
        var map2 = new Microsoft.Maps.Map('#myMap3', {
            credentials: 'API_KEY',
            center: new Microsoft.Maps.Location(latofplace2,longofplace2),
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            zoom: 500

        });

        var latofplace3 = '{{hospitalTwo_latitude}}';
        var longofplace3='{{hospitalTwo_longitude}}';
        var spt3 = someJavaScriptVar.split(',');
        var lat3 = parseFloat(spt[0])
        var lng3 = parseFloat(spt[1]) 
        var map3 = new Microsoft.Maps.Map('#myMap4', {
            credentials: 'API_KEY',
            center: new Microsoft.Maps.Location(latofplace3,longofplace3),
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            zoom: 500

        });

        var latofplace4 = '{{hospitalOne_latitude}}';
        var longofplace4='{{hospitalOne_longitude}}';
        var spt4 = someJavaScriptVar.split(',');
        var lat4 = parseFloat(spt[0])
        var lng4 = parseFloat(spt[1]) 
        var map4 = new Microsoft.Maps.Map('#myMap5', {
            credentials: 'API_KEY',
            center: new Microsoft.Maps.Location(latofplace4,longofplace4),
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            zoom: 500

        });

    }
    </script>
</head>
<body style="background-color: rgb(26, 23, 23);">
    <h1>Some nearby {{typ}} near {{Locality}}...</h1>
    <div id="myMap" style="position:relative;width:600px;height:400px;"></div>
    <label for="myMap" style="font-family: monospace;">
        {{hospitalFive}}
        <p>Address: </p>{{hospitalFive_address}}
    </label>

    <div id="myMap2" style="position:relative;width:600px;height:400px;"></div>
    <label for="myMap2" style="font-family: monospace;">
        {{hospitalFour}}
        <p>Address: </p>{{hospitalFour_address}}
    </label>

    <div id="myMap3" style="position:relative;width:600px;height:400px;"></div>
    <label for="myMap3" style="font-family: monospace;">
        {{hospitalThree}}
        <p>Address: </p>{{hospitalThree_address}}
    </label>

    <div id="myMap4" style="position:relative;width:600px;height:400px;"></div>
    <label for="myMap4" style="font-family: monospace;">
        {{hospitalTwo}}
        <p>Address: </p>{{hospitalTwo_address}}
    </label>

    <div id="myMap5" style="position:relative;width:600px;height:400px;"></div>
    <label for="myMap5" style="font-family: monospace;">
        {{hospitalOne}}
        <p>Address: </p>{{hospital_address}}
    </label>

<style>
    body{
        color: white;
        font-family: monospace;
    }
</style>



   
</body>
</html>
