<!-- <html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="static/real_home.css">
</head>
<body>
    <ul>
        <li><a href=""><img src="/static/images/icon.png" alt="icon" width></a></li>
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>
    </ul>
</body>
</html> -->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/real_home.css">
</head>
<body>

<div class="navbar">
    <a href="/"><img src="/static/images/icon.png" alt="icon" width></a>
    <a href="" class='About_Us'><button>About Us</button></a>
    <a href="" class='Get_Started'><button>Get Started</button></a>
  <div class="dropdown">
    <button class="dropbtn">Products 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#"><button onclick='scroll()'>Get Started</button></a>
      <a href="/Eplaces">EPlaces</a>
      <a href="/Estreams">EStreams</a>
    </div>
  </div> 
</div>

<div class="Scroll" ></a>
    <h1 style="color:white; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">About Us</h1>
    <p  style="color: white; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        Explore is a free to use platform for everyone.
        With Explore you can do many things!
        By using EPlaces (Explore Places) you can <a href="/data">get data of nearby Restaurants or Hotels etc...</a>, 
        and even use EStreams to browse for <a href="/Estreams">videos of various topics such as sports, cooking etc...!</a>
    </p>
    <p><a href="/rating">Loved Explore? Give us a rating</a></p>       
</div>
<div class='p'>
    <div class='EPlaces'></div>
    <div class="epl"  style=" width:785px;background-color:black;  border:4px solid rgba(253, 221, 42, 0.774);"><a href="/data"><img src="/static/images/earth.jpg" alt="EPlaces" style='width: 190; border-radius: 20px; height: 200px;'></a></div>
    <h1 style="color:rgba(253, 221, 42, 0.774);transform: translate(209px, -200px); font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">EPlaces</h1> <p style="color: white; transform: translate(211px, -215px);width: 572px; font-family: monospace; font-size: 19px;">With EPlaces you can search for restaurants, hospitals, supermarkets near you! You only need to walk a few steps to reach there! EPlaces makes sure that all the places are right near you location you entered.</p>

    <div class='est'></div>
    <div class='EStreams' style='width: 785px; background-color:black; border:4px solid rgba(253, 221, 42, 0.774); transform: translate(860px, 10px);'><a href='/Estreams'><img src='static/images/video.png' alt='EStreams' style='width: 190; border-radius: 20px;'></a></div>
    <h1 style="color:rgba(253, 221, 42, 0.774);transform: translate(1102px, -205px); font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">EStreams</h1> <p style="color: white;transform: translate(1109px, -207px);width: 565px; font-family: monospace; font-size: 19px;">With EStreams you can browse for the latest videos on the most trending topics on the internet with just one click away! Start using EStereams now!</p></a>
</div>

<script>
    function scroll(){
        window.scrollBy(0,4000)
    }

</script>
</body>
</html>

