<html lang="en">
<head>
    <title>EStreams</title>
    <link rel="stylesheet" href="static/home_estreams.css">
</head>
<body style=" background-color: rgba(53, 50, 50, 0.815);">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <ul>
        <li class='btn-btn'><button type="button" class="btn btn-outline-primary"><a href="/uploads"><img src="static/images/upload.png" alt="upload"></a></button></li>
        <li class='Search_btn'><button type="button" class="btn btn-outline-primary"><a href="/uploads"><img src="/static/images/search_small.png" alt="search image"></a></button></li>
        <li class='logo'><button><a href="/Estreams"><img src="/static/images/logo.png" alt="Estreams logo"></a></button></li>
    </ul> 
    <h1 style='font-family: monospace;'>Search For Videos</h1>
    <video src="{{new_srch_url}}" class='video' style="width: 200px" style="width: 0px;"controls></video>
</body>
</html>